*{margin:0;padding:0;}
#botonsdedalt{
	position:relative;
	height:0px;
	z-index: 7;
}

#fullscreen{
	background-color: #2F518E;
	box-shadow: 3px 3px 1px #203863;
	color:#fff;
	padding:8px;
	border-radius:15px;
	font-family: 'Open Sans', sans-serif;
	margin:0 auto;
	position: absolute;
	text-align: center;
	display: block;
	right:70px;
	top: 14px;
	font-size: 1.2em;
	text-decoration: none;
	z-index: 4;
}
#nofullscreen{
	background-color: #2F518E;
	box-shadow: 3px 3px 1px #203863;
	color:#fff;
	padding:8px;
	border-radius:15px;
	font-family: 'Open Sans', sans-serif;
	margin:0 auto;
	position: absolute;
	text-align: center;
	display: none;
	right:70px;
	top: 14px;
	font-size: 1.2em;
	text-decoration: none;
	z-index: 4;
}
#skipintro{
	background-color: #2F518E;
	box-shadow: 3px 3px 1px #203863;
	color:#fff;
	padding:7.5px 15px;
	border-radius:15px;
	font-family: 'Open Sans', sans-serif;
	margin:0 auto;
	position: absolute;
	text-align: center;
	display: block;
	right:130px;
	top: 14px;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	z-index: 4;
}
svg{
	overflow:hidden;
	/*position:absolute;*/
	z-index: 1;
	margin:0 auto;
}
#svg{
	padding: 0;
	position:relative;
	top:0px!important;
	margin:0px;
	z-index: 0;
	background-color: transparent;
}
#text{
	height: 0px;
	position:relative;
	z-index: 2;
	text-align: center;
	top:200px;
	font-size: 5em;
	font-family: 'Sancreek', cursive;
	text-shadow: 2px 2px 8px #F0CB3F;
}

#a_dressed{
	color:#9B7E37;
	top:100px;
	height: 0px;
	text-align: center;
	position: absolute;
	width:18%;
	margin-left: 17%;
	background-color: yellow;
	font-size: 2.9em;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
#a_play{
	color:#9B7E37;
	top:100px;
	height: 0px;
	text-align: center;
	position: absolute;
	width:18%;
	margin-left: 64%;
	background-color: yellow;
	font-size: 2.9em;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
#a_back{
	float:left;
	position:relative;
	color:#2F518E;
	height: 0px;
	text-align: center;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	z-index: 3;
	margin-top: -80px;
	margin-left: 80px;
}
#a_done{
	display:none;
	background-color: #2F518E;
	box-shadow: 3px 3px 1px #203863;
	color:#fff;
	padding:7.5px 17px;
	border-radius:15px;
	margin:0 auto;
	position: absolute;
	text-align: center;
	right:130px;
	top: 14px;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	z-index: 4;
	font-family: 'Open Sans', sans-serif;
}
#a_dreta{
	width:45%;
	height:90%;
	position:absolute;
	clear:none;
	top:10%;right:0;
	background-color: transparent;
	z-index: 6;
}
#a_esquerra{
	width:45%;
	height:90%;
	position:absolute;
	clear:none;
	top:10%;left:0;
	background-color: transparent;
	z-index: 6;
}
#instruccionsgroc{
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	margin:0 auto;
	height: 0px;
	position: absolute;
	text-align: center;
	display: block;
	width: 100%;
	top: 10px;
	font-size: 1.5em;
	line-height: 2em;
	text-decoration: none;
	z-index: 7;
}
#instruccionsjoc{
	background-color: rgba(228,193,77,.7);
	padding-top: 20px;
	display:block;
	height:120px;
}
#start{
	background-color: #BA252B;
	box-shadow: 3px 3px 1px #961b1f;
	margin-top:20px;
	color:#fff;
	padding:10px;
	border-radius:15px;
	font-family: 'Open Sans', sans-serif;
	cursor:pointer;
}
#sounds{
	background-color: #2F518E;
	box-shadow: 3px 3px 1px #203863;
	color:#fff;
	padding:8px;
	border-radius:15px;
	font-family: 'Open Sans', sans-serif;
	margin:0 auto;
	position: absolute;
	text-align: center;
	display: block;
	right:15px;
	top: 14px;
	font-size: 1.2em;
	text-decoration: none;
	z-index: 4;
}
#stopaudio{
	display:inline;
	cursor:pointer;
}
#playaudio{
	display:none;
	cursor: pointer;
}
#barravida{
	width:100%;
	position:absolute;
	top:0px;
	height:10px;
	background-color:green;
}
#back{
	width: 25px;
	height: 25px;
	background-color: #2F518E;
	background-image: url('back.png');
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 3px 3px 1px #203863;
	color:#fff;
	padding:8px;
	border-radius:15px;
	margin:0 auto;
	position: absolute;
	text-align: center;
	left:15px;
	top: 14px;
	font-size: 1.2em;
	text-decoration: none;
	z-index: 4;
}
#play, #play_1_, #noi, #fustacalaix1, #fustacalaix2, #fustacalaix3, #fustacalaix4{
	cursor:pointer;
}